/* Main staff */

body{
    background-color: #dddbdbe7;
    width: 100vw;
    height: 100%;
}

.all_borders_round{
    border-radius: 20px;
}

.all_bottom_borders_round{
    border-radius: 0px 0px 20px 20px;
}

.border_none{
    border-right:0px !important;
}

.padding_twenty{
    padding: 20px;
}

.inline_block{
    display: inline-block;
}

.back_white{
    background-color: white;
}

.height_auto{
    height: auto;
}

/* Texts */

a{
    text-decoration: none;
}

.opacity{
    opacity: 0.6;
}

h1, h2, h3, h4, p, a,textarea,input,li{
    font-family: 'DM Sans', sans-serif;
} 

h1,h2,h3,h4,.bold{
    font-weight: bold;
}

.font_three{
    font-size: 3em;
}

.all_h2{
    border-bottom:2px solid #dddbdbe7; 
    font-size: 20px;
    padding: 25px;
}

.text_black{
    color: black;
}

.text_white{
    color: white;
}

.text_center{
    text-align: center;
}


.line_height{
    line-height: 1.5;
}

.line_gradient{
    width: 200px;
    height: 5px;
    margin-bottom: 40px;
    background-image: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}


/* Buttons */

.button{
    position: relative;
    border-radius: 0px 18px 0px 0px;
    padding: 15px;
    width: 210px;
    font-size: 17px;
}

.btn{
    background-color: transparent;
    border: none;
}

.button_margin_top{
    margin-top: 40px;
}

.button_orange{
    background-color:#FFAC12;
}

.button_black{
    background-color:black;
}

.button_center{
    position: relative;
    margin-top: 450px;
    margin-left: 400px;
}

.button_right{
    float: right;
    margin-top: 0px;
}

.block{
    display: block;
}

i{
    margin-right: 5px;
}



/* Header */


.container{
    max-width: 1110px;
    padding: 0 40px;
    margin: auto;
    height: auto;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.menu_list{ 
    margin-left: 200px;
    display: flex;
}

.menu_list-item{
   
    padding: 0 30px;
}

.center_li{
    margin: auto;
}

.menu a{
    font-size: 1rem;
    font-weight: bold;
}

.logo{
    width: 100px; 
}

/* Grid */
.each{
    position: relative;
} 

.top_grid p, .b p{
    padding: 20px;
}

.top_grid{
    grid-column: 1/4 ;
    grid-row: 1; 
    border-bottom:2px solid #dddbdbe7; 
}

.grid_three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Border right */

.border_right{
    border-right:2px solid #dddbdbe7; 
}

/* Footer */


footer{
    position: relative;
    width: 100vw;
    padding-top: 90px !important;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
    padding-bottom: 150px;
}

footer h1{
    position: relative;
    font-size: 40px !important;
}

span{
    color:#FFAC12;
}

.begin {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    padding-bottom: 60px;
    border-bottom: 2px solid #dddbdbe7; 
}

.begin a{
    margin-left: 330px;
}

.fa-arrow-right{
    color: white;
    padding: 8px;
}

#fa-arrow-right{
    color:#FFAC12;
}

.main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 160px;
    width: 70vw;
    margin-top: 80px;   
}

.contact{
    width: 150px;  
}

.log{
    width: 120px;
    grid-column: 1/4 ;
    grid-row: 1; 
    border: 0px;
}

.contact *{
    padding: 5px;
}

.headingfooter{
    display: flex;
    flex-direction: column;
}

.main a{
    padding: 8px;
}