/* Header */

.top_background{
    height: 110vh;
    width: 100%;
    background-size: cover;
    background-image:linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%), url('../photo/backhouse.png');
}

.header_text{
    display: block;
}

.header_h1{
    margin-top: 100px ;
    font-size: 5em;
}

.header_p{
    position: relative;
    width: 500px;
    font-size: 1.5em;
    font-weight:lighter;
    margin-bottom: 20px;
    margin-top:20px;
}


/* Button header */

.seeall{
    display: flex;
    justify-items: flex-start;
    position: relative;
    width:66vw;
    top: 20vh;
    margin:auto;
    padding: 30px;
}

/* Main Good hands part */

.textgood{
    position: relative;    
    display: inline-block;
    bottom: 200px;
}

.left{
    margin-left: 30px;
}

.textgood h1{
    margin-bottom: 20px;
}

.textgood p{
    font-size:1.5em;
    width: 30vw;
}

.goodhands{
    height: 100vh;
}

.goodhands_reverse .textgood{
    top: 150px;
}

.team{
    display: inline-block;
    margin-top: 100px;
    width: 700px;
}

.team_reverse{
    position: relative;
    bottom:600px;
    left: 0px;
    transform: scale(-1, 1);
    display: inline-block;
    float: right;
}

.nextplace h1{
    margin-bottom: 50px;
}

.nextplace .line_gradient{
    margin-top: 150px;
}


/* Dropdown menu  */
.menudrop{
    position: relative;
    display: flex;
    border-radius: 20px;
    width: auto;
    margin-bottom: 80px;
}

.menudrop li, .dropbtn {
    display: inline-block;
    text-decoration: none;
}

.dropdown{
    position: relative;
    width: 200px;
    padding: 50px 30px;
}

.dropdown:hover {
    background-color:#949292;
    color: white;
}

.dropdown-content {
    z-index: 2;
    position: absolute;
    left: 0%;
    right: 0;
    bottom: auto;
    display: none;
    background-color: #f9f9f9;
    top: 100%;
}

.dropdown-content a {
    display: block;
    padding:10px ;
}

.dropdown-content a:hover {
    background-color:#949292;
    color: white;
}
    
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

#border1:hover{
    border-radius: 20px 0px 0px 0px;
}

#border2:hover{
    border-radius: 0px 20px 0px 0px;
} 


/* Collections of houses */

.grid{
    position: relative;
    width: 70vw;
}

.grid_photo{
    position: relative;
}

.properties_dropdown{
    position: relative;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}

.properties_dropdown p,img{
    display: inline-block;
}

.properties_dropdown i{
    padding-left:20px;
} 

.bottom_line{
    margin-bottom: 200px;
}

.house_collect{
    max-width: 340px;
}

/* Div with black background */

.black_div{
    position: relative;
    height: 100vh;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
}

.line_find_your_place{
    position: relative;
    margin-top: 100px;
}

.line_yellow{
    position: relative;
    top: 150px;
    margin: auto;
    width: 300px;
    height: 10px;
    background: linear-gradient(90deg, #FFAC12 0%, rgba(0, 0, 0, 0.0001) 94.96%);
    border-radius: 2px;
}

.text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_h1{
    margin: auto;
    margin-top: 200px; 
}

.text_p{
    font-size: 1.5em;
    width: 450px;
    margin-top: 350px;
}


/* Reviews part */


.review{
    position: relative;
    height: 100vh;
}

.client_block {
    margin-right: 30px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.client_block p{
    width: 200px;
}

.client_block_black {
    background-color: black;
}

.properties_review .top_grid{
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
}

.properties_review{
    position: relative;
    margin-top: 200px;
    width: 110%;
}

.review_h2{
    font-size: 1.5em;
}

.properties_review h2,div{
    border: 0px;  
}

.line_review{
    position: relative;
    top: 150px;
    margin: auto;
    width: 300px;
}
