/* Header */

.top_background{
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
}

.header_div{
    line-height: 1.5;
    width: 100vw;
    padding: 30px 0px 30px 0px;
    border-top: 1px solid #dddbdb59; 
}

.header_block{
    position: relative;
}

.header_block h1{
    font-size: 2em;
}

.header_name{
    margin-right: 55%;
    left: 15%;
}

.header_price{
    text-align: right;   
}

/* Main */

main{
    position: relative;
    margin-top: 50px;
}

main div{
    vertical-align: top;
}

.choice{
    width: 710px;
    margin-right: 20px;
}

.small_photo{
    margin:20px 20px 0px 0;  
}   

.resume{
    width: 330px;
    padding: 20px;
    height: 480px;
}

.account{
    width: 300x;
    background-color: #dddbdb59;
    border-radius: 10px;
    height: 40px;
    padding: 15px;
    line-height: 19px;
}

.name{
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}

.account img{
    width: 40px;
}

.input{
    width: 300x;
    border: 1px solid #dddbdbe7;
    border-radius: 10px;
    margin: 10px 0 10px 0;    
}

input{
    border: none;
    height: 20px;
}

.input_big{
    height: 60px;
    margin-bottom: 0;
}

input:focus{
    outline: none;
}

.button_full{
    width: 300px !important;
    padding:15px 0 15px 0 !important; 
    margin: 10px 0 10px 0;    
}

/* House details */

.properties{
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px 0px;
    width: 710px;
}

.details_h2{
    font-size: 20px;
    padding: 30px ;
    grid-column: 1/6 ;
    grid-row: 1; 
    border-bottom:2px solid #dddbdbe7; 
}

.details_h2, .details_div p{
    padding: 25px;
}

.properties i{
    padding-left:20px;
}

/* Description */

.description{
    position: relative;
    margin-bottom: 40px;
    width: 710px;
}

.descp{
    padding: 30px; 
}

/* Features */

.features{
    position: relative;
    width: 710px;
    margin-bottom: 150px;
}

.fetgrid{ 
    padding: 30px;
}

.aircondition p{
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.fa-check-circle{
    color:#FFAC12;
}

/* Similar houses */

.each{
    margin-right: 30px ;
}

.grid_houses{
    position: relative;
    margin-top: 60px;
    margin-bottom: 100px;
}

.properties_dropdown{
    margin-bottom: 30px;
}

.each img{
    width: 330px;
}

.properties_dropdown i{
    padding-left:20px;
}