html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.opacity{
    opacity: 0.6;
}

body{
    background-color: #dddbdbe7;
    width: 100vw;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, p, a{
    font-family: 'DM Sans', sans-serif;
} 

h1,h2,h3,h4{
    font-weight: bold;
}

.font_three{
    font-size: 3em;
}


/* Buttons */

.button{
    position: relative;
    border-radius: 0px 18px 0px 0px;
    padding: 20px;
    margin-top: 40px;
    width: 180px;
    height: auto;
    text-align: center;
}

.button_orange{
    background-color:#FFAC12;
}

.button_black{
    background-color:black;
}

.button_center{
    position: relative;
    top: 80%;
    margin: auto;
}

.button_right{
    float: right;
    margin-top: 0px;
}

.text_black{
    color: black;
    font-weight: bold;
}

.text_white{
    color: white;
    font-weight: bold;
}


/* Header */



header{
    height: 110vh;
    background-image:linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%), url('photo/backhouse.png');
    background-size: cover;
    color: white;
}

.menuul{
    display: flex;
    justify-content: center;
    margin-left: 25vw;
}

ul{
    display: flex;
}

header li{
    margin-left:50px;
    margin-top: 60px;
    font-size: 1rem;
    font-weight: bold;
}

.lia{
    color: white;
}

.logo{
    position: absolute;
    width: 100px;
    left: 15%; 
    top: 60px;
}

.header_text{
    display: block;
    left: 15%; 
}

.header_h1{
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    top: 35vh; 
}

.header_p{
    position: relative;
    width: 500px;
    top: 70vh;
    font-size: 1.5em;
    font-weight:lighter;
    margin-bottom: 20px;
}




/* Button header */

.seeall{
    display: flex;
    justify-items: flex-start;
    position: relative;
    text-align: center;
    background-color: white;
    width:66vw;
    height: auto;
    top: 72vh;
    margin:auto;
    padding: 30px;
}

.seea{
    color: black;
    font-weight: bold;
}


/* Main Good hands part */

.textgood{
    position: relative;    
    display: inline-block;
    width: 30vw;
    bottom: 300px;
}

.left{
    margin-left: 30px;
}

.textgood h1{
    margin-bottom: 20px;
}

.textgood p{
    font-size:1.5em;
    width: 30vw;
}

.goodhands{
    height: 100vh;
    background-color: white;
}

.goodhands_reverse{
    padding-left: 15%;
}

.team{
    display: inline-block;
    margin-top: 100px;
    width: 50vw;
}

.team_reverse{
    position: relative;
    bottom:130px;
    left: 0px;
    transform: scale(-1, 1);

}

.nextplace{
    height: auto;
    padding: 15%;
}

.nextplace h1{
    margin-bottom: 50px;
}


/* Dropdown menu */

.menudrop{
    position: absolute;
    display: inline-block;
    border-radius: 20px;
    width: 1100px;
    height: auto;
    background-color: white;
}

.menudrop li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.dropdown{
    position: relative;
    width: 300px;
    padding: 30px 100px 30px 100px;
    border-right: 3px solid #dddbdbe7;
}

.dropdown:hover, .dropdown:hover .dropbtn {
    background-color:#949292;
    color: white;
}

.dropdown-content {
    position: absolute;
    left: 0%;
    right: 0;
    bottom: auto;
    display: none;
    background-color: #f9f9f9;
    top: 100%;
}

.dropdown-content a {
    color: black;
    display: block;
    padding:10px ;
}

.dropdown-content a:hover {
    background-color:#949292;
    color: white;
}
    
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

#border1:hover{
    border-radius: 20px 0px 0px 20px;
}

#border2:hover{
    border-radius: 0px 20px 20px 0px;
}

#border{
    border-left: 0px;
}


/* Collections of houses */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px; 
    position: relative;
    width: 70vw;
    height: auto;
    left: 15%;
}

.each{
    display: inline-block;
    position: relative;
} 

.properties_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
} 

.properties_dropdown{
    position: relative;
    width: 90%;
    top: 0px;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}



.properties_dropdown p,img{
    display: inline-block;
}

.properties_dropdown i{
    padding-left:20px;
} 


#b{
    padding: 20px;
    width: 300px;
    height: auto;
}

#b p{
    padding:20px;
    display: inline-block;
    width: 200px;
}


.each_bottom_line{
    margin-bottom: 300px;
}

.top_grid{
    grid-column: 1/4 ;
    grid-row: 1; 
    border-bottom:2px solid #dddbdbe7; 
}

.properties_dropdown .b{
    border-right:2px solid #dddbdbe7; 
}

.top_grid p, .b p{
    padding: 20px;
}



/* Div with black background */

.black{
    position: relative;
    height: 100vh;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
    color: white;
    text-align: center;
}


.line_gradient{
    width: 200px;
    height: 5px;
    margin-bottom: 40px;
    background-image: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.line_yellow{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px;
    height: 10px;
    background: linear-gradient(90deg, #FFAC12 0%, rgba(0, 0, 0, 0.0001) 94.96%);
    border-radius: 2px;
    transform: translate(-50%, -50%);
}


.text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_h1{
    top: 40%;
}

.text_p{
    font-size: 1.5em;
    width: 450px;
    top: 60%;
}


/* Reviews part */


.review{
    position: relative;
    height: 100vh;
    background-color: white;
    color: black;
}

.client_block_black {
    background-color: black;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}


.properties_review .top_grid{
    width: 350px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.properties_review{
    position: absolute;
    top: 450px;
    width: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review_h2{
    font-size: 1.5em;
}

.properties_review h2,div{
    border: 0px;  
}


.line_review{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
}


/* Footer */


footer{
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 100px;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
    color: white;
    box-sizing: border-box;
    padding-bottom: 50px;
}

footer h1{
    position: absolute;
    display: inline-block;
}

footer .workwithusdiv{
    display: inline-block;
    position: relative;
    transform: none;
    top: 0px ;
    margin-top: 0px;
    margin-left: 300px;
}

footer span{
    color:#FFAC12;
}

.begin {
    width: 70%;
    position: relative;
    left: 15%;
    height: 100px;
    border-bottom: 2px solid #dddbdbe7; 
}

.fa-arrow-right{
    color: white;
    padding: 8px;
    display: inline-block;
}

#fa-arrow-right{
    color: #FFAC12;
}

.main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10%;
    left:15%;
    width: 70vw;
    margin-top: 80px;
}


.contact{
    width: 150px;
}

.log{
    width: 120px;
    grid-column: 1/4 ;
    grid-row: 1; 
    padding-bottom: 40px;
    border: 0px;
}

.contact *{
    padding: 10px;
}

.headingfooter{
    display: flex;
    flex-direction: column;
}

.main a{
    color: white;
    padding: 8px;
}