html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.opacity{
    opacity: 0.6;
}

body{
    background-color: #dddbdbe7;
    width: 100vw;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, p, a, .input{
    font-family: 'DM Sans', sans-serif;
} 

.button{
    position: relative;
    border-radius: 0px 18px 0px 0px;
    padding: 20px;
    margin-top: 40px;
    width: 180px;
    height: auto;
    text-align: center;
}

.button_orange{
    background-color:#FFAC12;
}

.button_black{
    background-color:black;
}

.button_center{
    position: relative;
    top: 80%;
    margin: auto;
}

.button_right{
    float: right;
    margin-top: 0px;
}

.text_black{
    color: black;
    font-weight: bold;
}

.text_white{
    color: white;
    font-weight: bold;
}


.all_h2{
    border-bottom:2px solid #dddbdbe7; 
    padding: 25px;
}


.all_borders_round{
    border-radius: 20px;
}



/* Header */


header{
    height: auto;
    color: white;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
}

menu{
    position: relative;
    padding-bottom: 30px;
    width: 50vw;
}

.menuul{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 80%;  
}

header li{
    margin-left:35px;
    margin-top: 60px;
    font-size: 1rem;
    font-weight: bold;
}

.lia{
    color: white;
}

.logo{
    position: absolute;
    width: 100px; 
    left: 15%; 
    top: 60px;
}

.header_div{
    width: 100vw;
    padding: 30px 0px 30px 0px;
    border-top: 1px solid #dddbdb59; 
    display: inline-block;
}

.header_block{
    position: relative;
    display: inline-block;
}

.header_name{
    margin-right: 55%;
    left: 15%;
}

.header_price{
    text-align: right;   
}


/* Main */



main{
    position: relative;
    margin-top: 50px;
    left: 15%;
    width:70% ;
    height: auto;
}

main div{
    vertical-align: top;
}

.choice{
    width: 70%;
    display: inline-block;
}

.choice *{
    padding: 10px;
}

.resume{
    display: inline-block;
    width: 25%;
    height: auto;
    background-color: white;
    padding: 10px;
}

.account{
    width: 220px;
    background-color: #dddbdb59;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.name{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}

.account img{
    width: 40px;
}

span{
    color:#FFAC12;
}

.input{
    width: 220px;
    border: 1px solid #dddbdbe7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.input input{
    border: none;
    height: 20px;
}

input:focus, textarea:focus{
    outline: none;
}

/* House details */

.properties{
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    background-color: white;
    margin: 30px 0px 30px 0px;
    width: 65%;
}

.details_h2{
    grid-column: 1/6 ;
    grid-row: 1; 
    border-bottom:2px solid #dddbdbe7; 
}

.details_div{
    border-right:2px solid #dddbdbe7; 
}

.border_none{
    border:0px
}

.details_h2, .details_div p{
    display: inline-block;
    padding: 25px;
}

.properties i{
    display: inline-block;
    padding-left:20px;
}

.properties div{
    text-align: center;
}

/* Description */

.description{
    position: relative;
    background-color: white;
    margin-bottom: 30px;
    width: 65%;
}

.descp{
    padding: 30px; 
}

/* Features */

.features{
    position: relative;
    background-color: white;
    width: 65%;
}

.fetgrid{ 
    padding: 30px;
    text-align: center;
}

.aircondition p{
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.fa-check-circle{
    color:#FFAC12;
}


/* Similar houses */


.grid_three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid{
    position: relative;
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 100px;
}

.each{
    display: inline-block;
    position: relative;
} 

.properties_dropdown{
    position: relative;
    width: 90%;
    top: 0px;
    margin-bottom: 30px;
    background-color: white;
}

.each img{
    width: 90%;
}

.properties_dropdown .b{
    display: inline-block;
}

.top_grid p, .b p{
    padding: 20px;
}

.top_grid{
    grid-column: 1/4 ;
    grid-row: 1; 
    border-bottom:2px solid #dddbdbe7; 
}

.b{
    border-right:2px solid #dddbdbe7; 
}

.properties_dropdown p,i{
    display: inline-block;
}

.properties_dropdown i{
    padding-left:20px;
}

.line{
    margin-top: 200px;
    margin-bottom: 40px;
    width: 200px;
    height: 5px;
    background-image: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.sim{
    font-size: 3em;
}


/* Footer */


footer{
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 100px;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
    color: white;
    box-sizing: border-box;
    padding-bottom: 50px;
}

footer h1{
    position: absolute;
    display: inline-block;
}

footer .workwithusdiv{
    display: inline-block;
    position: relative;
    transform: none;
    top: 0px ;
    margin-top: 0px;
    margin-left: 300px;
}

footer span{
    color:#FFAC12;
}

.begin {
    width: 70%;
    position: relative;
    left: 15%;
    height: 100px;
    border-bottom: 2px solid #dddbdbe7; 
}

.fa-arrow-right{
    color: white;
    padding: 8px;
    display: inline-block;
}

#fa-arrow-right{
    color: #FFAC12;
}

.main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10%;
    left:15%;
    width: 70vw;
    margin-top: 80px;
}


.contact{
    width: 150px;
}

.log{
    width: 120px;
    grid-column: 1/4 ;
    grid-row: 1; 
    padding-bottom: 40px;
    border: 0px;
}

.contact *{
    padding: 10px;
}

.headingfooter{
    display: flex;
    flex-direction: column;
}

.main a{
    color: white;
    padding: 8px;
}