*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

#opacity {
    opacity: 0.6;
}

body{
    background-color: #dddbdbe7;
    width: 100vw;
}

/* Header */


header{
    height: auto;
    color: white;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
}

menu{
    position: relative;
    padding-bottom: 30px;
    width: 50vw;
}

.menuul{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 80%;  
}

header li{
    margin-left:35px;
    margin-top: 60px;
    font-size: 1rem;
}

.lia{
    color: white;
}

.logo{
    position: absolute;
    width: 100px; 
    left: 15%; 
    top: 60px;
}

.workwithus{
position: relative;
   background-color:#FFAC12;
   border-radius: 0px 18px 0px 0px;
   padding: 20px;
   margin-top: 40px;
}

.workwithusa{
    font-weight: bold;
    color: black;
}

.headerdiv{
    width: 100vw;
    padding: 30px 0px 30px 0px;
    border-top: 1px solid #dddbdb59; 
    display: inline-block;
}

.headerdiv *{
    position: relative;
}

.headername{
    position: relative;
    display: inline-block;
    margin-right: 55%;
    left: 15%;
}

.headerprice{
    display: inline-block;
    text-align: right;   
}


/* Main */



main{
    position: relative;
    margin-top: 50px;
    left: 15%;
    width:70% ;
    height: auto;
}

main div{
    vertical-align: top;
}

.choice{
    width: 70%;
    display: inline-block;
}

.choice *{
    padding: 10px;
}

#house7{
    padding-top: 0px;
}

.resume{
    display: inline-block;
    width: 25%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.account{
    width: 220px;
    background-color: #dddbdb59;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.name{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}

.account img{
    width: 40px;
}

span{
    color:#FFAC12;
}

.input{
    width: 220px;
    border: 1px solid #dddbdbe7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.input input{
    border: none;
    height: 20px;
}

input:focus, textarea:focus{
    outline: none;
}

#email{
    margin-bottom: 0px;
}

.learnmore{
    position: relative;
    background-color:black;
    border-radius: 0px 18px 0px 0px;
    padding: 20px;
    margin: 0px 10px 10px 10px;
    width: 220px;
    height: auto;
    text-align: center;
}

.learnmorea{
    color: white;
}


/* House details */

.properties{
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 65%;
}

#each{
    margin-bottom: 300px;
}

.a{
    grid-column: 1/6 ;
    grid-row: 1; 
    border-bottom:2px solid #dddbdbe7; 
}

.b,.c{
    border-right:2px solid #dddbdbe7; 
}

.a, .b p, .c p, .d p{
    display: inline-block;
    padding: 25px 25px 25px 15px;
}

.properties i{
    display: inline-block;
    padding-left:20px;
}

.properties div{
    text-align: center;
}

/* Description */

.description{
    position: relative;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 65%;
}

.desca{
    padding: 30px;  
}

.descp{
    padding: 40px; 
    border-top:2px solid #dddbdbe7;  
}

/* Features */

.features{
    position: relative;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 65%;
}

.fetgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    border-top:2px solid #dddbdbe7;  
    text-align: center;
}

.aircondition p{
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.fa-check-circle{
    color:#FFAC12;
}


/* Similar houses */


.grid2{
    position: relative;
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 100px;
}

.each2{
    display: inline-block;
    position: relative;
} 

.each2 img{
    width: 90%;
}

.properties2{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    top: 0px;
    background-color: white;
    width: 90%;
    margin-bottom: 30px;
}

.b,.c{
    border-right:2px solid #dddbdbe7; 
}

.properties2{
    border-radius: 0px 0px 20px 20px;
}

.properties2 p,img{
    display: inline-block;
}

.a p, .b p, .c p, .d p{
    padding: 20px;
}

.properties2 i{
    padding-left:20px;
}

.line{
    margin-top: 200px;
    margin-bottom: 40px;
    width: 200px;
    height: 5px;
    background-image: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.sim{
    font-size: 3em;
}


/* Footer  */



footer{
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 100px;
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
    color: white;
    box-sizing: border-box;
    padding-bottom: 50px;
}

footer h1{
    position: absolute;
    display: inline-block;
    font-size: 3em;
}

footer .workwithusdiv{
    display: inline-block;
    transform: none;
    position: relative;
    top: 0px ;
    margin-top: 0px;
    margin-left: 300px;
}

footer span{
    color:#FFAC12;
}

.begin {
    width: 70%;
    position: relative;
    left: 15%;
    height: 100px;
    border-bottom: 2px solid #dddbdbe7; 
}

.fa-arrow-right{
    display: inline-block;
    color: white;
    padding: 8px;
}

#fa-arrow-right{
    color:#FFAC12;
}

.main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10%;
    left:15%;
    width: 70vw;
    margin-top: 80px;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
}

#log{
    width: 120px;
    grid-column: 1/4 ;
    grid-row: 1; 
    padding-bottom: 40px;
}

.contact *{
    padding: 10px;
}

.headingfooter{
    display: flex;
    flex-direction: column;
}

.main a{
    color: white;
    padding: 8px;
}

footer .workwithusdiv{
    display: inline-block;
    position: relative;
    transform: none;
    top: 0px ;
    margin-top: 0px;
    margin-left: 300px;
}

.workwithusdiv{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 200px;
    background-color:#FFAC12;
    border-radius: 0px 18px 0px 0px;
    padding: 20px;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    font-weight: bold;
}